{% extends 'base.html.twig' %}

{% block title %}Master IA - URCA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/informations/information__item.css') }}"/>
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class="bx bx-news"></i>
            Master informatique
        </p>
    </div>
    <div class="right__center">
        <div class="actu__item">
            <div class="actu__item__title">
                <p>Informations</p>
            </div>
            <div class="actu__item__content">
                <div class="content__text">
                    <p>
                        La bibliothèque universitaire est à votre disposition de 8h à 18h. Des salles de coworking sont
                        également disponible ...
                        <br />
                        <br />
                        Cette année, le Cnam en Grand Est sur le site de Reims va participer à la Nuit de l'info :
                        du jeudi 1er décembre 16h35 au vendredi 2 décembre 8h !
                    </p>
                    <div class="voir__plus">
                        <a href="#" class="actu__plus__button">
                            <i class="bx bx-plus-medical"></i>
                            Voir plus
                        </a>
                    </div>
                </div>
                <div class="content_image">
                    <a href="index.html.twig">
                        <img src="{{ asset('assets/img/bu.jpg') }}" alt="Photo de la BU de l'iut " />
                    </a>
                </div>
            </div>
            <div class="actu__item__date">
                <p>
                    <i class="bx bx-time-five"></i>
                    Posté le 07/08/2022
                </p>
            </div>
        </div>
    </div>
{% endblock %}
