{% extends 'base.html.twig' %}

{% block title %}Master IA - URCA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/item/item.css') }}"/>
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class="bx bx-info-circle"></i>
            Informations
        </p>
    </div>
    <div class="right__center">
        <div class="item">
            <div class="item__title">
                <p>Informations</p>
            </div>
            <div class="item__content">
                <div class="content__text">
                    <p>
                        La bibliothèque universitaire est à votre disposition de 8h à 18h. Des salles de coworking sont
                        également disponible ...
                    </p>
                </div>
                <div class="content_image">
                    <img src="{{ asset('assets/img/bu.jpg') }}" alt="Photo de la BU de l'iut "/>
                </div>
            </div>
            <div class="item__date">
                <p>
                    <i class="bx bx-time-five"></i>
                    Posté le 07/08/2022
                </p>
            </div>
        </div>
    </div>
{% endblock %}
