.actu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 850px;
    gap: 20px;
    background-color: var(--black);
    padding: 30px;
    border-radius: 25px;
    flex-wrap: wrap;
}

.actu__item__title {
    text-align: center;
    color: var(--white);
    font-weight: var(--w-3);
    font-size: 1.2rem;
}

/* CONTENT */
.actu__item__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--white);
}

.content_image img {
    height: 300px;
    border-radius: 10px;
}

.content__text {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content__text a {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    padding: 5px 25px;
    border-radius: 60px;
}

.voir__plus {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.actu__plus__button{
    transition: transform .3s ease-in-out;
}

.actu__plus__button:hover {
    transform: scale(1.05);
}

.actu__item__date {
    text-align: right;
    color: var(--white);
    font-size: 0.95rem;
}

/*********************/
