{% extends 'base.html.twig' %}

{% block title %}
    Edition du projet {{ projet.titre }}
{% endblock %}

{% block body %}
    <h2>Edition du projet {{ projet.titre }}</h2>
    {{ include('projet_ter/_form.html.twig', {label_submit: 'Modifier', form: form}, with_context = false) }}
{% endblock %}
