#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#cancel, .save {
    border: none;
    color: var(--white);
    padding: 5px 10px;
    border-radius: var(--border-smooth);
}

#cancel {
    background-color: var(--primary);
    transition-duration: .3s;
}

.save {
    background-color: var(--red);
    transition-duration: .3s;
}

#cancel:hover {
    transition-duration: .3s;
    background-color: var(--dark-primary);
}

.save:hover {
    transition-duration: .3s;
    background-color: var(--dark-red);
    cursor: pointer;
}

.choice__selection__box {
    text-align: center;
    background-color: var(--black);
    padding: 20px;
    border-radius: var(--border-smooth);
}

.choice__selection__box p {
    margin-bottom: 10px;
    animation: red_pulse infinite 2s ease-in-out;
}

@media screen and (min-width: 400px) {
    #buttons {
        flex-direction: row;
    }
}