.left {
    width: var(--enable-nav-size);
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--primary); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-bottom: 50px;
    font-size: 13px;
}

.left__top, .left__center, .left__bottom {
    text-align: left;
    padding: 20px;
}

.left__top img {
    height: 110px;
}

.left__top p {
    text-align: right;
}

.left__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
