/* CREATE BUTTON */

.create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 5px;
    font-size: var(--fs-very-little);
}

.create i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--border-rounded);
    color: var(--black);
}

.create a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--white);
    border-radius: var(--border-smooth);
    background-color: var(--black);
    padding: 4px 25px;
    border: 3px solid var(--primary);
}

/* END CREATE BUTTON */

/* --------------------------------- */

/* JS CLASS */

.hide {
    display: none;
}

/* END JS CLASS */

.faq__item {
    border-radius: var(--border-smooth);
    background-color: var(--black);
    padding: var(--border-smooth);
    color: var(--white);
    transition: all 0.4s ease-in-out;
    overflow-wrap: break-word;
}

.faq__content__text {
    font-size: var(--fs-normal);
}

.faq__item__actions {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#edit, #delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: var(--border-rounded);
    color: var(--white);
}

#edit {
    background-color: var(--primary);
}

#delete {
    background-color: var(--red);
}

.faq__form__texarea__box {
    max-height: 100px;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: none;
}

form[name="faq"] {
    background-color: var(--black);
    padding: 20px;
    max-width: 400px;
    border-radius: 20px;
}

.faq__form__label__title {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: var(--w-2);
    font-size: var(--fs-normal);
    margin-bottom: 4px;
}


.faq__form__submit__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq__form__submit__box button {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-size: var(--fs-normal);
}

.faq__form__delete__message {
    text-align: center;
    animation: red_pulse infinite 2s ease-in-out;
}

.faq__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.faq__delete__box {
    background-color: var(--black);
    padding: 20px;
    border-radius: var(--border-smooth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.faq__form__delete_action button {
    padding: 5px 20px;
    border-radius: var(--border-smooth);
    border: none;
    color: var(--white);
}

.faq__form__cancel {
    background-color: var(--primary);
}

.faq__form__delete {
    background-color: var(--red);
}

@keyframes red_pulse {
    0% {
        color: var(--white);
    }
    50% {
        color: var(--red);
    }
    100% {
        color: var(--white);
    }
}

@media screen and (min-width: 300px) {
    .faq__item__actions {
        flex-direction: row;
    }
}

@media screen and (min-width: 400px) {
    .create {
        font-size: var(--fs-little);
    }

    form[name="faq"] {
        min-width: 300px;
    }

    .faq__form {
        flex-direction: row;
    }
}

@media screen and (min-width: 700px) {
    .faq__item {
        max-width: 500px;
    }

    .create {
        font-size: var(--fs-normal);
    }

    form[name="faq"] {
        min-width: 400px;
    }
}

@media screen and (min-width: 1000px) {
    .faq__item {
        max-width: 700px;
    }
}