{% extends 'base.html.twig' %}

{% block title %}
    Candidatures de {{ user.firstname }} {{ user.lastname }}
{% endblock %}

{% block body %}
    <p>Candidatures de {{ user.firstname }} {{ user.lastname }}</p>
{% endblock %}

