{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/faq/faq.css') }}"/>
{% endblock %}

{% block title %}
    Création d'une question
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Création d'une question
        </p>
    </div>
    <div class="right__center">
        {{ include('faq/_form.html.twig', {label_submit: 'Ajouter', form: form}, with_context = false) }}
    </div>
{% endblock %}