{% extends 'base.html.twig' %}

{% block title %}Master IA - URCA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/faq/faq.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/faq.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class="bx bx-news"></i>
            F.A.Q
        </p>
    </div>
    <div class="right__center">
        <div class="faq__item">
            <div class="faq__item__content">
                <div class="faq__content__text">
                    <p class="faq__question"><i class='bx bxs-right-arrow'></i> Quelles compétences sont nécessaires pour rejoindre la formation ?</p>
                    <p class="faq__reponse hide">Il faut avoir un bac+3 en informatique et surtout avoir envie de travailler.</p>
                </div>
            </div>
        </div>
        <div class="faq__item">
            <div class="faq__item__content">
                <div class="faq__content__text">
                    <p class="faq__question"><i class='bx bxs-right-arrow'></i> Comment s'inscrire à la formation ?</p>
                    <p class="faq__reponse hide">Pour vous inscrire il faut passer par la plateforme nationale eCandidat ou par le biais du dispositif Etudes en France.</p>
                </div>
            </div>
        </div><div class="faq__item">
            <div class="faq__item__content">
                <div class="faq__content__text">
                    <p class="faq__question"><i class='bx bxs-right-arrow'></i> Est-il possible d'effectuer son master en alternance ?</p>
                    <p class="faq__reponse hide">Il est effectivement possible de faire une alternance. Les étudiants travaillent et suivent leurs études en même temps.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}