{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/projet/projet__form.css') }}"/>
{% endblock %}

{% block title %}
    Création d'une nouvelle alternance
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Création d'une nouvelle alternance
        </p>
    </div>
    <div class="right__center">
        {{ include('alternance/_form.html.twig', {label_submit: 'Ajouter', form: form}, with_context = false) }}
    </div>
{% endblock %}
