{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/form/form.css') }}"/>
{% endblock %}

{% block title %}
    Création d'une nouvelle alternance
{% endblock %}

{% block body %}
    <h2>Création d'une nouvelle alternance</h2>
    {{ include('alternance/_form.html.twig', {label_submit: 'Ajouter', form: form}, with_context = false) }}
{% endblock %}
