{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/projet/projet__form.css') }}"/>
{% endblock %}

{% block title %}
    Edition de l'alternance n°{{ alternance.numAlternance }}
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class='bx bxs-briefcase-alt-2'></i>
            Edition de l'alternance n°{{ alternance.numAlternance }}
        </p>
    </div>
    <div class="right__center">
        {{ include('alternance/_form.html.twig', {label_submit: 'Modifier', form: form}, with_context = false) }}
    </div>
{% endblock %}
