@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

/* GENERAL */
* {
    /** COULEURS **/
    --primary: #009cdf;
    --white: #ffffff;
    --light-gray: #cacaca;
    --black: #2e2e2e;
    --red: #f30000;

    /** FONT **/
    font-family: 'Poppins', sans-serif;

    /** WEIGHT **/
    --w-5: 500;
    --w-4: 600;
    --w-3: 700;
    --w-2: 800;
    --w-1: 900;
}

html {
    background: url(../img/back.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ------------------------------ */

/* RESET CSS */
ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* ------------------------------ */

/* SCROLL-BAR

 */

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 10px;
    border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light-gray);
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
    border-radius: 20px;
}