@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

/* GENERAL */
* {
    /** COULEURS **/
    --primary: #009cdf;
    --white: #ffffff;
    --light-gray: #cacaca;
    --black: #2e2e2e;
    --red: #f30000;
    --green: #00ba0d;

    /** FONT **/
    font-family: 'Poppins', sans-serif;

    /** WEIGHT **/
    --w-5: 500;
    --w-4: 600;
    --w-3: 700;
    --w-2: 800;
    --w-1: 900;

    /** FONT-SIZE **/
    --fs-big: 1.14rem;
    --fs-medium: 1.09rem;
    --fs-normal: 0.98rem;
    --fs-little: 0.95rem;
    --fs-very-little: 0.85rem;

    /** OTHERS **/
    --border-smooth: 20px;
    --border-rounded: 50%;
}

html {

    font-size: 14px;

    background: url(../img/back.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.important {
    color: var(--primary);
    font-weight: var(--w-2);
}

/* ------------------------------ */

/* RESET CSS */
ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input[type="text"], input[type="email"], input[type="password"], input[type="file"], select {
    box-sizing: border-box;
    border-radius: var(--border-smooth);
    padding: 5px;
    border: 3px solid var(--primary);
}

option {
    padding: 3px;
    background-color: var(--primary);
    color: var(--white);
}

textarea {
    padding: 8px;
    border-radius: var(--border-smooth);
}

/* ------------------------------ */

/* SCROLL-BAR

 */

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 10px;
    border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light-gray);
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
    border-radius: 20px;
}

@keyframes red_pulse {
    0% {
        color: var(--white);
    }
    50% {
        color: var(--red);
    }
    100% {
        color: var(--white);
    }
}

@media screen and (min-width: 500px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 700px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 2000px) {
    html {
        font-size: 35px;
    }
}