{% extends 'base.html.twig' %}

{% block title %}Master IA - URCA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/actus/actus__item.css') }}"/>
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class="bx bx-news"></i>
            Dernières actualités
        </p>
    </div>
    <div class="right__center">
        <div class="actu__item">
            <div class="actu__item__title">
                <p>Emploi du temps</p>
            </div>
            <div class="actu__item__content">
                <div class="content__text">
                </div>
                <div class="content_image">
                    <a href="index.html.twig">
                        <img src="{{ asset('assets/img/Emploi_du_temps.png') }}" alt="Photo de l'iut de Reims" />
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}