form[name="candidature"] {
    background-color: var(--black);
    padding: 20px;
    border-radius: var(--border-smooth);
    color: var(--white);
}

form[name="candidature"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

form[name="candidature"] .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

form[name="candidature"] input[type="file"] {
    width: 100%;
}

.buttons button, .buttons a {
    color: var(--white);
    border: none;
    border-radius: var(--border-smooth);
    padding: 5px 10px;
    font-size: var(--fs-normal);
}

.buttons button {
    background-color: var(--primary);
    transition-duration: .3s;
}

.buttons button:hover {
    background-color: var(--dark-primary);
    transition-duration: .3s;
    cursor: pointer;
}

.buttons a {
    background-color: var(--red);
    transition-duration: .3s;
}

.buttons a:hover {
    background-color: var(--dark-red);
    transition-duration: .3s;
}

.candidature__form {
    text-align: center;
    background-color: var(--black);
    padding: 20px;
    border-radius: 20px;
    animation: red_pulse infinite 2s ease-in-out;

}

.retenir, .cancel {
    color: var(--white);
    padding: 5px 10px;
    border-radius: var(--border-smooth);
    border: none;
}

.buttons__space {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.retenir {
    background-color: var(--red);
    transition-duration: .3s;
}

.retenir:hover {
    background-color: var(--dark-red);
    transition-duration: .3s;
    cursor: pointer;
}

.cancel {
    background-color: var(--primary);
    transition-duration: .3s;
}

.cancel:hover {
    background-color: var(--dark-primary);
    transition-duration: .3s;
    cursor: pointer;
}

.projet__delete__box {
    background-color: var(--black);
    padding: 20px;
    border-radius: var(--border-smooth);
    animation: red_pulse infinite 2s ease-in-out;
}

.retenue__empty {
    text-align: center;
    background-color: var(--black);
    padding: 20px;
    border-radius: var(--border-smooth);
    color: var(--white);
}

.candidatures__list__title p {
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    padding: 20px;
    border-radius: var(--border-smooth);
}

.candidatures__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.candidature__item {
    background-color: var(--black);
    color: var(--white);
    padding: 15px;
    border-radius: var(--border-smooth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.show__more {
    background-color: var(--primary);
    padding: 5px 10px;
    border-radius: var(--border-smooth);
    font-size: var(--fs-normal);
    transition-duration: .3s;
}

.show__more:hover {
    background-color: var(--dark-primary);
    transition-duration: .3s;
}

.show__more a {
    color: var(--white);
}

.number p {
    display: flex;
    justify-content: center;align-items: center;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: var(--border-smooth);
    background-color: var(--primary);
}

@media screen and (min-width: 400px) {
    .buttons__space {
        flex-direction: row;
    }
}

@media screen and (min-width: 700px) {
    .candidature__item {
        flex-direction: row;
        gap: 10px;
    }
}