.projet__text__area {
    max-height: 100px;
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    border: none;
}

.projet__form__input {
    margin-bottom: 20px;
    max-width: 100%;
}

.projet__form__label__title {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: var(--w-2);
    margin-bottom: 4px;
    font-size: var(--fs-normal);
    text-align: center;
}

.projet__form__submit__box {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-little);
}

.projet__form__submit__box button {
    padding: 5px 10px;
    border-radius: var(--border-smooth);
    background-color: var(--primary);
    border: none;
    color: var(--white);
    transition-duration: .3s;
}

.projet__form__submit__box button:hover {
    background-color: var(--dark-primary);
    transition-duration: .3s;
    cursor: pointer;
}

.projet__delete__box {
    background-color: var(--black);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projet__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.projet__form button {
    font-size: var(--fs-normal);
}

.projet__form__delete__message {
    font-size: var(--fs-normal);
    text-align: center;
    animation: red_pulse infinite 2s ease-in-out;
}

.projet__form__delete_action button {
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    color: var(--white);
}

.projet__delete__box {
    background-color: var(--black);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projet__form__cancel {
    background-color: var(--primary);
}

.projet__form__delete {
    background-color: var(--red);
}

@keyframes red_pulse {
    0% {
        color: var(--white);
    }
    50% {
        color: var(--red);
    }
    100% {
        color: var(--white);
    }
}

@media screen and (min-width: 400px) {
    .projet__form {
        flex-direction: row;
    }
}

.required{
    color: var(--primary);
    text-transform: uppercase;
    font-weight: var(--w-2);
    margin-bottom: 4px;
    font-size: var(--fs-normal);
}

.right__center{
    background-color: var(--black);
    padding: 20px;
    width: 50%;
    border-radius: var(--border-smooth);
    text-align: center;

}
