{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/form/form.css') }}"/>
{% endblock %}

{% block title %}
    Edition du stage {{ stage.titre }}
{% endblock %}

{% block body %}
    <h2>Edition du stage {{ stage.titre }}</h2>
    {{ include('stage/_form.html.twig', {label_submit: 'Modifier', form: form}, with_context = false) }}
{% endblock %}
