{% extends 'base.html.twig' %}

{% block title %}Hello CandidatureController!{% endblock %}

{% block body %}
<h1>Liste des candidatures</h1>

<ul>
    <iframe src="{{ asset('uploads/cvs/Noir-et-Jaune-Urgence-Reaction-Affiche-63b591eed6431.pdf') }}" width="50%" height="500px"> </iframe>
</ul>
{% endblock %}
