{% extends 'base.html.twig' %}

{% block title %}Hello CandidatureController!{% endblock %}

{% block body %}
<h1>Liste des candidatures</h1>

<ul>
    <iframe src="{{ asset('uploads/cvs/BUT-SAE-1-3-63b56b546ef9f.pdf') }}" width="50%" height="500px"> </iframe>
</ul>
{% endblock %}
