{% extends 'base.html.twig' %}

{% block title %}Master IA - URCA{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/item/item.css') }}"/>
{% endblock %}

{% block body %}
    <div class="right__top">
        <p>
            <i class="bx bx-news"></i>
            Master informatique
        </p>
    </div>
    <div class="right__center">
        <div class="item">
            <div class="item__title">
                <p>Parcours IA</p>
            </div>
            <div class="item__content">
                <div class="content__text">
                    <p>
                        Un BAC+3 en informatique est requis. La formation est également ouverte aux
                        étudiants étrangers qui peuvent candidater par le biais du dispositif Etudes en France.
                        <br />
                        <br />
                        Pendant deux ans, les étudiants bénficient d’une formation scientifique et technique,
                        complétée par une pratique du travail en projet et en équipe.
                    </p>
                    <div class="voir__plus">
                        <a href="#" class="plus__button">
                            <i class="bx bx-plus-medical"></i>
                            Voir plus
                        </a>
                    </div>
                </div>
                <div class="content_image">
                    <a href="index.html.twig">
                        <img src="{{ asset('assets/img/IA.jpg') }}" alt="Photo de l'iut de Reims" />
                    </a>
                </div>
            </div>
            <div class="item__date">
                <p>
                    <i class="bx bx-time-five"></i>
                    Posté le 07/08/2022
                </p>
            </div>
        </div>
    </div>
{% endblock %}
