.item {
    background-color: var(--black);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content_image {
    width: 100%;
    text-align: center;
}

.content_image img {
    min-width: 80%;
    max-width: 90%;
    border-radius: 5px;
}

.item__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--w-3);
    color: var(--primary);
    margin-bottom: 20px;
    font-size: var(--fs-medium);
}

.item__content {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.content__text {
    font-size: var(--fs-normal);
}

.voir__plus {
    padding: 30px;
    text-align: center;
}

.voir__plus a {
    background-color: var(--primary);
    padding: 5px 15px;
    color: var(--white);
    border-radius: 22px;
}

.item__date {
    text-align: right;
    color: var(--white);
    font-size: var(--fs-very-little);
}

@media screen and (min-width: 1000px) {
    .item__content {
        flex-direction: row;
    }
    .content_image img {
        min-width: 80%;
        max-width: 350px;
        border-radius: 5px;
    }
}